body {
  font-family: "Montserrat", sans-serif;
}
nav,
nav a {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
}

nav a.active {
  color: #475cfd;
  font-weight: bold;
}

nav a:hover {
  color: #475cfd;
}

nav h5 {
  font-weight: bold;
}

.main {
  color: white;
}

.main h1 {
  font-weight: 100;
}

.main h1 span {
  font-weight: 600;
  color: #475cfd;
}
.main p {
  font-size: 20px;
  font-weight: 100;
  margin-top: 20px;
}
.main button {
  background-color: #ff4887;
  color: white;
  margin-top: 20px;
}
.container {
  margin-top: 50px;
}
.person-img {
  position: absolute;
  bottom: 1px;
  right: -1px;
  width: 50%;
}

.card-body {
  overflow: hidden;
}

/* .qr-img {
  position: absolute;
  top: 125px;
  left: 48px;
  width: 30%;
} */

.cellular-card {
  padding-top: 8px;
  margin-left: -50px;
  width: 300px;
  height: 104px;
}

.email-card {
  padding-top: 8px;
  margin-top: 2px;
  margin-left: -50px;
  width: 300px;
  height: 104px;
}

.main-2 {
  margin-left: 45px;
}
.socmed-logo {
  width: 15%;
}

.linkedin-card {
  margin-top: 2px;
  margin-left: -60px;
  width: 517px;
}
.card-main {
  max-height: 597px;
}
